rdsps_windfarm_owl_owl_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/2002/07/owl#">
    <xs:element name="Ontology">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Annotation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnnotationProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Literal" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Declaration" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="Class" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ObjectProperty" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DatatypeProperty" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NamedIndividual" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SubClassOf">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Class" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ObjectPropertyDomain">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ObjectProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Class">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ObjectPropertyRange">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ObjectProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Class">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataPropertyDomain">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DatatypeProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Class">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataPropertyRange">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DatatypeProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Datatype">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ClassAssertion" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Class">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NamedIndividual">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataPropertyAssertion" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DataProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NamedIndividual">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Literal" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ObjectPropertyAssertion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ObjectProperty">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NamedIndividual" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="IRI" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="IRI" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>